[submodule "libs/libmdbx"]
	path = libs/libmdbx
	url = https://github.com/erthink/libmdbx.git
[submodule ".github/doxygen-awesome-css"]
	path = .github/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
